* {
  font-family: FiraCode Nerd Font;
  font-size: 14px;
  background: transparent;
}

#waybar {
  background-color: rgba(24, 24, 37, 0.60);
  border-bottom: 1px solid #11111b;
  margin: 5px;
  padding: 4px 10px;
}

#workspaces button {
  border-radius: 3px;
}

#workspaces button.active {
  color: #fab387;
}

#clock,
#tray,
#memory,
#wireplumber,
#battery {
  margin: 6px 3px;
  padding: 3px 5px;
}

#clock {
  color: #89b4fa;
}

#memory {
  color: #a6e3a1;
}

#wireplumber {
  color: #f9e2af;
}

#battery {
  color: #f38ba8;
}

#battery.charging {
  color: #a6e3a1;
}
