* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: FiraCode Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: #1e1e2e;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  padding: 3px 5px;
  margin: 4px 3px;
  border-radius: 3px;
  color: #cdd6f4;
  background-color: #1e1e2e;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button:hover {
  color: #1e1e2e;
  background-color: #cdd6f4;
}


#clock,
#tray,
#memory,
#battery,
#wireplumber {
  margin: 6px 3px;
  padding: 3px 5px;
  background-color: transparent;
}

#clock {
  color: #89b4fa;
}

#memory {
  color: #a6e3a1;
}

#wireplumber {
  color: #f9e2af;
}

#battery {
  color: #f38ba8;
}

#battery.charging {
  color: #a6e3a1;
}
