* {
  font-family: FiraCode Nerd Font;
  font-size: 14px;
  font-weight: bold;
  background: transparent;
  border-radius: 0px;
}

tooltip * {
  background: #181825;
}

#waybar {
  background: #181825;
  margin: 5px;
  padding: 4px 10px;
}

#workspaces button.active {
  color: #89b4fa;
}

#clock,
#tray,
#memory,
#wireplumber,
#battery {
  margin: 6px 3px;
  padding: 3px 5px;
}

#clock {
  color: #fab387;
}

#tray window {
  background: #181825;
}

#memory {
  color: #a6e3a1;
}

#wireplumber {
  color: #f9e2af;
}

#battery {
  color: #f38ba8;
}

#battery.charging {
  color: #a6e3a1;
}
