* {
	font-family: "FiraCode Nerd Font";
}

window {
	background-color: transparent;
}

#input {
	margin: 5px;
  border: 2px #89b4fa;
  border-style: solid;
	border-radius: 10px;
	background-color: #313244;
	color: #cdd6f4;
  outline-color: #313244;
}

#input:focus {
  box-shadow: rgba(116, 199, 236, 0.4) 0px 0px 0px 2px, rgba(116, 199, 236, 0.65) 0px 4px 6px -1px, rgba(116, 199, 236, 0.08) 0px 1px 0px inset;
}

#outer-box {
	margin: 2px;
	padding: 10px;
  border: 1px #6c7086;
  border-style: solid;
  border-radius: 20px;
	background-color: #313244;
}

#scroll {
	margin: 5px;
}

#text {
	padding: 4px;
	color: #c6d6f4;
}

#entry:nth-child(even){
	background-color: #313244;
}

#entry:selected {
	background-color: #6c7086;
}

#text:selected {
	background: transparent;
}
