prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot-%Y-%m-%d-%H-%M-%S.png"
cursor {
    hide-after-inactive-ms 1000
}
environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}
input {
    keyboard {
        repeat-rate 125
        repeat-delay 370
    }
    touchpad {
        off
    }
    mouse {

    }
    trackpoint {
        off
    }
    focus-follows-mouse
}
output "eDP-1" {
    mode "2560x1600@120.00600"
    scale 1.5
    transform "normal"
    variable-refresh-rate on-demand=true
}
layout {
    gaps 0
    center-focused-column "never"
    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }
    default-column-width {
        proportion 0.5
    }
    preset-window-heights {
        proportion 0.5
        proportion 1.0
    }
    focus-ring {
        off
        width 1
        active-color "#89b4fa"
    }
    background-color "transparent"
    border {
        width 1
        active-color "#fab387"
        inactive-color "#11111b"
    }
    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}
hotkey-overlay {
    skip-at-startup
}
animations {
    workspace-switch {
        duration-ms 300
        curve "ease-out-expo"
    }
    slowdown 0.5
}
overview {
    backdrop-color "#181825"
    workspace-shadow {
        off
    }
}
window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}
window-rule {
    match app-id="code$"
    open-maximized true
}
window-rule {
    match app-id="google-chrome$"
    open-maximized true
}
window-rule {
    match app-id="Pinentry-gtk$"
    open-floating true
}
window-rule {
    match app-id="^steam.*"
    open-floating true
}
binds {
    Mod+T hotkey-overlay-title="Foot" repeat=false {
        spawn "foot"
    }
    Mod+A hotkey-overlay-title="Tofi" repeat=false {
        spawn-sh "tofi-drun | xargs niri msg action spawn --"
    }
    Mod+B hotkey-overlay-title="Chrome" repeat=false {
        spawn "google-chrome-stable"
    }
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 1%+"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 1%-"
    }
    XF86AudioMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"
    }
    XF86MonBrightnessUp allow-when-locked=true {
        spawn "brightnessctl" "set" "5%+"
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn "brightnessctl" "set" "5%-"
    }
    Mod+Z repeat=false {
        toggle-overview
    }
    Mod+Q repeat=false {
        close-window
    }
    Mod+H {
        focus-column-left
    }
    Mod+J {
        focus-window-down
    }
    Mod+K {
        focus-window-up
    }
    Mod+L {
        focus-column-right
    }
    Mod+Alt+H {
        move-column-left
    }
    Mod+Alt+J {
        move-window-down
    }
    Mod+Alt+K {
        move-window-up
    }
    Mod+Alt+L {
        move-column-right
    }
    Mod+Shift+J {
        move-column-to-workspace-down
    }
    Mod+Shift+K {
        move-column-to-workspace-up
    }
    Mod+1 {
        focus-workspace 1
    }
    Mod+2 {
        focus-workspace 2
    }
    Mod+3 {
        focus-workspace 3
    }
    Mod+4 {
        focus-workspace 4
    }
    Mod+5 {
        focus-workspace 5
    }
    Mod+6 {
        focus-workspace 6
    }
    Mod+7 {
        focus-workspace 7
    }
    Mod+8 {
        focus-workspace 8
    }
    Mod+9 {
        focus-workspace 9
    }
    Mod+Shift+1 {
        move-column-to-workspace 1
    }
    Mod+Shift+2 {
        move-column-to-workspace 2
    }
    Mod+Shift+3 {
        move-column-to-workspace 3
    }
    Mod+Shift+4 {
        move-column-to-workspace 4
    }
    Mod+Shift+5 {
        move-column-to-workspace 5
    }
    Mod+Shift+6 {
        move-column-to-workspace 6
    }
    Mod+Shift+7 {
        move-column-to-workspace 7
    }
    Mod+Shift+8 {
        move-column-to-workspace 8
    }
    Mod+Shift+9 {
        move-column-to-workspace 9
    }
    Mod+BracketLeft {
        consume-or-expel-window-left
    }
    Mod+BracketRight {
        consume-or-expel-window-right
    }
    Mod+Comma {
        consume-window-into-column
    }
    Mod+Period {
        expel-window-from-column
    }
    Mod+R {
        switch-preset-column-width
    }
    Mod+Shift+R {
        switch-preset-window-height
    }
    Mod+Ctrl+R {
        reset-window-height
    }
    Mod+F {
        fullscreen-window
    }
    Mod+Alt+F {
        maximize-column
    }
    Mod+C {
        center-column
    }
    Mod+V {
        toggle-window-floating
    }
    Mod+Shift+V {
        switch-focus-between-floating-and-tiling
    }
    Mod+W {
        toggle-column-tabbed-display
    }
    Print {
        screenshot
    }
    Ctrl+Print {
        screenshot-screen
    }
    Alt+Print {
        screenshot-window
    }
    Mod+Escape allow-inhibiting=false {
        toggle-keyboard-shortcuts-inhibit
    }
    Mod+Shift+Delete {
        quit
    }
    Mod+Shift+P {
        power-off-monitors
    }
}
